page {
    background-color: #f8f8f8;
}

.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #f8f8f8;
    .tabs-warp {
        position: absolute;
        display: flex;
        width: 210rpx;
        height: 57rpx;
        margin-left: 20rpx;
        border-radius: 30rpx;
        background-color: #f7d6b1;
        color: #fff;
        font-size: 22rpx;
        .left-box {
            z-index: 3;
            width: 50%;
            height: 100%;
            padding-left: 2.5%;
        }
        .right-box {
            z-index: 3;
            width: 50%;
            height: 100%;
            padding-right: 2.5%;
        }
        .animation-box {
            position: absolute;
            z-index: 2;
            width: 55%;
            height: 100%;
            border-radius: 59rpx;
            background-color:#ff824e;
        }
        .text-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

//下单页面
.content-submit-order {
    width: 100%;
    .swiper {
        width: 100%;
        height: 810rpx;
        .swiper-img {
            width: 100%;
            height: 100%;
        }
    }
    .ways {
        position: relative;
        top: -60rpx;
        width: 660rpx;
        height: 310rpx;
        margin-left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        .bgc {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .right {
            left: 50%;
        }

        .common {
            position: absolute;
            z-index: 99;
            width: 50%;
            height: 100%;
        }
    }

    .tips-outer {
        width: 676rpx;
        height: 135rpx;
        padding: 8rpx;
        margin-top: -38rpx;
        margin-bottom: 20rpx;
        margin-left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        border-radius: 20rpx;
        background-color: #fff;
        .tips {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 12rpx 8rpx;
            box-sizing: border-box;
            border-radius: 12rpx;
            border: 2rpx solid #f58d52;
            .icon {
                width: 66rpx;
                height: 60rpx;
                margin-left: 12rpx;
            }

            .content-warp {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 16rpx;
                .head {
                    font-size: 32rpx;
                    font-weight: 700;
                }

                .content {
                    font-size: 20rpx;
                    color: #b9b9b9;
                }
            }
        }
    }
}

.content-receive-order {
    padding-top: 60rpx;
    .address-warp {
        display: flex;
        align-items: center;
        padding-bottom: 10rpx;
        .starting-position {
            width: 180rpx;
            height: 60rpx;
            margin-top: 146rpx;
            margin-right: 20rpx;
        }
        .focus-position {
            width: 200rpx;
            height: 60rpx;
            margin-top: 146rpx;
        }
        .starting-selector-outer {
            width: 180rpx;
            height: 60rpx;
            background-color: #f8f8f8;
            box-shadow: none;
        }
        .focus-selector-outer {
            width: 230rpx;
            height: 60rpx;
            background-color: #f8f8f8;
            box-shadow: none;
        }
        .selector-curitem {
            margin-right: 20rpx;
            font-size: 28rpx;
        }
        .icon-dian {
            margin-left: 28rpx; 
            margin-top: 146rpx;
            padding-top: 12rpx;
            font-size: 10rpx;
        }
        .filter-btn {
            width: 96rpx;
            height: 46rpx;
            margin-top: 154rpx;
            margin-left: 120rpx;
            border-radius: 64rpx;
            background-color: #ff824e;
            text-align: center;
            line-height: 46rpx;
            font-size: 28rpx;
            color: #fff;
        }
    }
    
    .order-list {
        overflow: auto;
        overflow-anchor: auto;
        width: 100%;
        height: 82vh;
        -webkit-overflow-scrolling: touch;
        .order{
            width: 349 * 2rpx;
            height: 382rpx;
            padding-top: 28rpx;
            margin-top: 22rpx;
            margin-left: 50%;
            transform: translateX(-50%);
            border-radius: 22rpx;
            box-shadow: 0px 0px 6px 0px #d8e8f1;
            line-height: 40rpx;
            .time {
                width: 321 * 2rpx;
                margin-top: 18rpx;
                padding-bottom: 15rpx;
                border-bottom: 6rpx solid #eaeaea;
                box-sizing: border-box;
                color: #101010;
                font-size: 24rpx;
                text-align: left;
                font-family: PingFangSC-regular;
            }
            .take {
                display: flex;
                .take-icon {
                    background-color:#b8e5f2;
                }
            }
            .receive {
                display: flex;
                margin-top: 22rpx;
                font-family: PingFangSC-regular;
                .rec-icon {
                    background-color: #b8c4f2;
                }
                .address-detail {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 48rpx;
                    margin-left: 22rpx;
                    padding: 4rpx 20rpx;
                    border-radius: 9px;
                    background-color: #fff0de;
                    font-size: 24rpx;
                }
                .room-num {
                    width: 74rpx;
                    height: 48rpx;
                    margin-left: 20rpx;
                }
            }
            .common {
                margin-left: 22rpx;
                .icon-common {
                    width: 48rpx;
                    height: 48rpx;
                    border-radius: 50%;
                    line-height: 48rpx;
                    text-align: center;
                    font-size: 28rpx;
                    color: #0e0d0d;
                }
                .address-common {
                    display: flex;
                    align-items: center;
                    margin-left: 22rpx;
                    font-size: 24rpx;
                }
            }
            .detail {
                display: flex;
                flex-direction: column;
                margin-top: 10rpx;
                margin-left: 32rpx;
                font-size: 20rpx;
                color: #101010;
                font-family: PingFangSC-regular;
                .total-price{
                    margin-top: -5rpx;
                }
            }
            .rec-btn-warp {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 4rpx;
                .rec-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200rpx;
                    height: 60rpx;
                    box-sizing: border-box;
                    border-radius: 12rpx;
                    background-color: rgba(255, 130, 77,92);
                    box-shadow: 2rpx 2rpx 6rpx 0 rgba(255, 130, 77,92);
                    font-size: 28rpx;
                    color: #ffffff;
                    font-family: Arial;
                    line-height: 40rpx;
                }
            }
        }
        .order:last-child {
            margin-bottom: 100rpx;
        }
        .tips {
            width: 100%;
            padding: 25rpx 0;
            margin-bottom: 30rpx;
            text-align: center; 
            font-size: 20rpx; 
            color: #6f6e6e;
        }
    }
    .null-msg {
        display: flex;
        flex-direction: column;
        margin-top: 160rpx;
        text-align: center;
        width: 100%;
        color: #b8b6b5;
        .icon-null-order {
            font-size: 230rpx;
        }
        .msg {
            margin-top: -65rpx;
        }
    }
}

