.cart-warp {
  position: fixed;
  bottom: 15rpx;
  z-index: 99999;
  width: 100%;
  .cart-detail {
    overflow: hidden;
    width: 100%;
    padding: 20rpx 40rpx 60rpx;
    border-radius: 40rpx 40rpx 0 0;
    box-shadow: 0 -6rpx 10rpx -3rpx #98c8e4;
    box-sizing: border-box;
    background-color: #fff;
    .header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10rpx;
      .title {
        font-size: 28rpx;
        font-weight: 700;
      }
      .clear {
        font-size: 28rpx;
        color: #949494;
      }
    }
    .food {
      position: relative;
      display: flex;
      padding: 20rpx 0;
      border-top: 2rpx solid #e2e2e2;
      .food-img {
        width: 120rpx;
        height: 120rpx;
        border-radius: 20rpx;
      }
      .detail {
        margin-left: 20rpx;
        color: #F76260;
        .food-name {
          color: #4d4d4d;
        }
      }
      .num-edit-btn {
        position: absolute;
        bottom:20rpx;
        right: 40rpx;
        display: flex;
        font-size: 28rpx;
        .sub {
          box-sizing: border-box;
          border: 2rpx solid #ff824e;
          line-height: 47rpx;
          color: #000;
        }
        .num {
          margin: 0 15rpx;
          font-size: 30rpx;
        }
        .add {
          line-height: 50rpx;
          background-color: #ff824e;
        }
        .btn-common {
          width: 50rpx;
          height: 50rpx;
          border-radius: 50%;
          text-align: center;
          // color: #fff;
          font-weight: 700;
        }
      }
    }
  }

  .cart {
    display: flex;
    width: 90%;
    height: 85rpx;
    margin-left: 50%;
    transform: translateX(-50%); 
    border-radius: 50rpx;
    background-color: #f3a482;
    color: #fff;
    .left {
      width: 75%;
      height: 100%;
      .logo-warp {
        position: fixed;
        bottom:3rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100rpx;
        height: 100rpx;
        margin-left: 35rpx;
        border-radius: 50%;
        box-shadow: 0 0 4rpx 2rpx #f3a482;
        background-color: #f59369;
        .logo {
          width: 75rpx;
          height: 75rpx;
        }
      }

      .badge {
        margin-left: 135rpx;
      }

      .price-warp {
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 150rpx;
        .foods-price {
          font-size: 36rpx;
        }

        .delivery-price {
          margin-left: 25rpx;
          font-size: 18rpx;
        }
      }
    }

    .right {
      width: 25%;
      height: 100%;
      // margin-left: 210rpx;
      border-radius: 0 50rpx 50rpx 0;
      background-color: #ff824e;
      text-align: center;
      line-height: 85rpx;
    }
  }
}